@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, header, h1, p, etc. */
@layer base {
    body {
        @apply bg-[#141414] text-white overflow-x-hidden !scrollbar scrollbar-w-1.5 !scrollbar-track-transparent !scrollbar-thumb-red-600 !scrollbar-thumb-rounded;
    }

    header {
        @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all duration-500 lg:px-10 lg:py-6;
    }
}

/* custom classnames */
@layer components {
    .header-link {
        @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
    }

    .btn-banner {
        @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
    }

    .btn-modal {
        @apply flex w-11 h-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition 
            hover:border-white hover:bg-white/10;
    }

    .movies-scroller {
        @apply w-9 h-9 absolute top-0 bottom-0 z-40 m-auto cursor-pointer transition hover:scale-125 opacity-0 group-hover:opacity-100;
    }

    .input {
        @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
    }

    .planBox {
        @apply relative mx-1.5 flex h-20 w-[calc(100%/3)] bg-[#e50914] cursor-default items-center justify-center rounded-sm font-semibold shadow 
            after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent 
            after:border-t-[#e50914] after:content-[""] md:h-32 lg:mx-8;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
